

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10"><h3>Manage Stocks</h3></div>
    <div class="col-xs-12 col-md-2">
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createStock" id="add_stock_button">Add New Stock</button>
    </div>
  </div>
</div>


<!-- Summarized view to read all Stocks -->
<!-- todo:: loop through all stocks first with *NgFor -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Registration Number:</th>
      <th>Make:</th>
      <th>Model:</th>
      <th>Color:</th>
      <th id='action_bar'>Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="https://i.pinimg.com/564x/a3/c0/c8/a3c0c82c506c557391e29d93923f0da9.jpg" class="img-thumbnail" width="90" height="90"></td>
        <td>CY 87927</td>
        <td>Jeep</td>
        <td>Patriot</td>
        <td>Black</td>
        <td>
          <button class="btn btn-danger btn-xs" (click)="confirmStockDelete()">Delete</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#updateStock">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>








<!-- Add a new Stock : Modal  -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="createStock" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form #creationForm="ngForm" (ngSubmit)="addStock(creationForm)" novalidate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a Stock</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="registration_number">Registration Number:</label>
                <input type="text" class="form-control" id="registration_number" name="registration_number" ngModel>
              </div>
              <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" class="form-control" id="make" name="make" ngModel>
              </div>
              <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model" name="model" ngModel>
              </div>
              <div class="form-group">
                <label for="model_year">Model Year:</label>
                <input type="text" class="form-control" id="model_year" name="model_year" ngModel>
              </div>
              <div class="form-group">
                <label for="kms">KMS:</label>
                <input type="text" class="form-control" id="kms" name="kms" ngModel>
              </div>
              <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" class="form-control" id="color" name="color" ngModel>
              </div>
              <div class="form-group">
                <label for="vin">VIN:</label>
                <input type="text" class="form-control" id="vin" name="vin" ngModel>
              </div>
              <div class="form-group">
                <label for="retail_price">Retail Price:</label>
                <input type="text" class="form-control" id="retail_price" name="retail_price" ngModel>
              </div>
              <div class="form-group">
                <label for="cost_price">Cost Price:</label>
                <input type="text" class="form-control" id="cost_price" name="cost_price" ngModel>
              </div>
              <div class="form-group">
                <label for="accessories">Accessories:</label>
                <input type="text" class="form-control" id="accessories" name="accessories" ngModel>
              </div>
              <div class="form-group">
                <label for="images">Images:</label>
                <input type="file" id="images" name="images" multiple>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" >Add Stock</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Viewing and Updating a Stock : Modal  -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="updateStock" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form #updatingForm="ngForm" (ngSubmit)="updateStock(updatingForm)" novalidate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">View and Modify Stock</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="registration_number">Registration Number:</label>
                <input type="text" class="form-control" id="registration_number" name="registration_number" ngModel>
              </div>
              <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" class="form-control" id="make" name="make" ngModel>
              </div>
              <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model" name="model" ngModel>
              </div>
              <div class="form-group">
                <label for="model_year">Model Year:</label>
                <input type="text" class="form-control" id="model_year" name="model_year" ngModel>
              </div>
              <div class="form-group">
                <label for="kms">KMS:</label>
                <input type="text" class="form-control" id="kms" name="kms" ngModel>
              </div>
              <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" class="form-control" id="color" name="color" ngModel>
              </div>
              <div class="form-group">
                <label for="vin">VIN:</label>
                <input type="text" class="form-control" id="vin" name="vin" ngModel>
              </div>
              <div class="form-group">
                <label for="retail_price">Retail Price:</label>
                <input type="text" class="form-control" id="retail_price" name="retail_price" ngModel>
              </div>
              <div class="form-group">
                <label for="cost_price">Cost Price:</label>
                <input type="text" class="form-control" id="cost_price" name="cost_price" ngModel>
              </div>
              <div class="form-group">
                <label for="accessories">Accessories:</label>
                <input type="text" class="form-control" id="accessories" name="accessories" ngModel>
              </div>
              <div class="form-group">
                <label for="images">Images:</label>
                <input type="file" id="images" name="images" multiple>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" >Add Stock</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
