

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-md-10"><h3>Manage Inventory Stock</h3></div>
    <div class="col-xs-2 col-md-2">
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createStock" id="add_stock_button">Add New Stock</button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Registration Number:</th>
      <th>Make:</th>
      <th>Model:</th>
      <th>Color:</th>
      <th id='action_bar'>Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td><img src="https://i.pinimg.com/564x/a3/c0/c8/a3c0c82c506c557391e29d93923f0da9.jpg" class="img-thumbnail" width="90" height="90"></td>
        <td>{{stock.registration_number}}</td>
        <td>{{stock.make}}</td>
        <td>{{stock.model}}</td>
        <td>{{stock.color}}</td>
        <td>
          <button class="btn btn-danger btn-xs" (click)="confirmStockDelete(stock._id)">Delete</button>
        </td>
        <td>
          <button type="button" (click)="readStock(stock)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#updateStock">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Add a new Stock : Modal  -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="createStock" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form #creationForm="ngForm" (ngSubmit)="addStock(creationForm)" novalidate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a Stock</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="registration_number">Registration Number:</label>
                <input type="text" class="form-control" id="registration_number" name="registration_number" ngModel required>
              </div>
              <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" class="form-control" id="make" name="make" ngModel required>
              </div>
              <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model" name="model" ngModel required>
              </div>
              <div class="form-group">
                <label for="model_year">Model Year:</label>
                <input type="number" class="form-control" id="model_year" name="model_year" ngModel required>
              </div>
              <div class="form-group">
                <label for="kms">KMS:</label>
                <input type="number" class="form-control" id="kms" name="kms" ngModel required>
              </div>
              <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" class="form-control" id="color" name="color" ngModel required>
              </div>
              <div class="form-group">
                <label for="vin">VIN:</label>
                <input type="text" class="form-control" id="vin" name="vin" ngModel required>
              </div>
              <div class="form-group">
                <label for="retail_price">Retail Price:</label>
                <input type="number" class="form-control" id="retail_price" name="retail_price" ngModel required>
              </div>
              <div class="form-group">
                <label for="cost_price">Cost Price:</label>
                <input type="number" class="form-control" id="cost_price" name="cost_price" ngModel required>
              </div>
              <div class="form-group">
                <label for="accessories">Accessories:</label>
                <input type="text" class="form-control" id="accessories" name="accessories" ngModel>
              </div>
              <div class="form-group">
                <label for="images">Images:</label>
                <input type="file" id="images" name="images" multiple>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-dismiss="modal">Add Stock</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Viewing and Updating a Stock : Modal  -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="updateStock" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form #updatingForm="ngForm" (ngSubmit)="updateStock(updatingForm, selectedStock)" novalidate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">View and Modify Stock</h4>
          </div>
          <div class="modal-body">
            <input type="hidden" class="form-control" id="_id" name="_id" value="{{selectedStock ? selectedStock._id : ''}}" ngModel>
              <div class="form-group">
                <label for="registration_number">Registration Number:</label>
                <input type="text" class="form-control" id="registration_number" name="registration_number" value="{{selectedStock ? selectedStock.registration_number : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" class="form-control" id="make" name="make" value="{{selectedStock ? selectedStock.make : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model" name="model" value="{{selectedStock ? selectedStock.model : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="model_year">Model Year:</label>
                <input type="text" class="form-control" id="model_year" name="model_year" value="{{selectedStock ? selectedStock.model_year : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="kms">KMS:</label>
                <input type="text" class="form-control" id="kms" name="kms" value="{{selectedStock ? selectedStock.kms : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" class="form-control" id="color" name="color" value="{{selectedStock ? selectedStock.color : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="vin">VIN:</label>
                <input type="text" class="form-control" id="vin" name="vin" value="{{selectedStock ? selectedStock.vin : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="retail_price">Retail Price:</label>
                <input type="text" class="form-control" id="retail_price" name="retail_price" value="{{selectedStock ? selectedStock.retail_price : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="cost_price">Cost Price:</label>
                <input type="text" class="form-control" id="cost_price" name="cost_price" value="{{selectedStock ? selectedStock.cost_price : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="accessories">Accessories:</label>
                <input type="text" class="form-control" id="accessories" name="accessories"  value="{{selectedStock ? selectedStock.accessories : ''}}" ngModel>
              </div>
              <div class="form-group">
                <label for="images">Images:</label>
                <input type="file" id="images" name="images" multiple>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" >Update Stock</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
